<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registered Users</title>
</head>
<body>
    <h1>Registered Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td><img src="{{ user.picture }}" alt="User Picture" width="100"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
